apiVersion: v1
kind: Service
metadata:
  name: notes-frontend-service
spec:
  type: NodePort
  selector:
    app: notes-frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30081
